<div class="main">

  <div id="search-playlist">
      <button class="menu-button" id="menu" routerLink="/menu">Menu</button>
      <label>
        Search:
        <input type="text" [formControl]="searchBar">
        <button class="generic-style-button" id="search-button" (click)="search()">Go</button>
      </label>
    <label>
      Pick a playlist (optional):
      <select name="playlist-options" [formControl]="playlistSelection">
        <option *ngFor="let playlist of playlists" value="{{playlist.uri}}">
          {{playlist.name}}
        </option>
      </select>
    </label>
    <button class="generic-style-button" id="start-playlist-button" (click)="startPlaylist()">Start Playlist</button>
  </div>

  <div *ngIf="showSearch" id="search-results">
    <button *ngFor="let result of searchResults" class="search-result" (click)="addToQueue(result.uri)">
      {{result.name}} - {{result.artist}}
    </button>
  </div>

  <div id="search-playlist-mobile">
    <button class="menu-button" routerLink="/menu">Menu</button>
    <button class="generic-style-button" (click)="displaySearchModal = true">Search</button>
    <button class="generic-style-button" (click)="displayPlaylistModal = true">Playlist</button>
  </div>

  <div *ngIf="displaySearchModal" class="modal" id="search-modal">
    <button class="generic-style-button" (click)="displaySearchModal = false">Close</button>
    <br>
    <div id="search-bar">
      <label>
        Search:
        <input type="text" [formControl]="searchBar">
      </label>
      <button class="generic-style-button" (click)="search()">Go</button>
    </div>
    <div *ngIf="displaySearchModalResults" id="search-results-modal">
    <button *ngFor="let result of searchResults" class="search-result" (click)="addToQueue(result.uri)">
      {{result.name}} - {{result.artist}}
    </button>
    </div>
  </div>

  <div *ngIf="displayPlaylistModal" class="modal" id="playlist-modal">
    <button class="generic-style-button" (click)="displayPlaylistModal = false">Close</button>
    <br>
    <div id="playlist-mobile">
      <label for="playlist-options">Pick a playlist:</label>
      <span>
        <select id="playlist-options" name="playlist-options" [formControl]="playlistSelection">
          <option *ngFor="let playlist of playlists" value="{{playlist.uri}}">
            {{playlist.name}}
          </option>
        </select>
        <button class="generic-style-button" id="start-playlist-button-mobile" (click)="startPlaylist()">Start Playlist</button>
      </span>
    </div>
  </div>

  <div class="controls">
    <div *ngIf="notPlayingMsg == ''" class="currently-playing">
      <img src="{{currentlyPlaying.artwork}}" alt="Album artwork for the currently playing song.">
      <h2>{{currentlyPlaying.name}}</h2>
      <p>{{currentlyPlaying.artist}} - {{currentlyPlaying.album}}</p>
      <input class="img-button" type="image" alt="pause button" *ngIf="play" title="pause"
             src="assets/pause.png" (click)="updatePlaybackState()">
      <input class="img-button" type="image" alt="play button" *ngIf="!play" title="play"
             src="assets/play.png" (click)="updatePlaybackState()">
      <br>
      <button class="generic-style-button" id="refresh" (click)="getCurrentlyPlaying()">Refresh Player</button>
    </div>
    <p *ngIf="notPlayingMsg != ''">{{notPlayingMsg}}</p>
  </div>
</div>
