.main {
  margin-top: 2rem;
}

.img-button {
  width: 60px;
  height: 60px;
  margin: auto;
}

#search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.search-result {
  margin: .25rem;
  padding: .5rem;
  border: 2px solid black;
  border-radius: 50px;
}

.search-result:hover {
  cursor: pointer;
}

input {
  margin-right: 1rem;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto auto auto;
  align-items: center;
  text-align: center;
}

#refresh {
  margin-top: 3rem;
}

#search-playlist {
  text-align: center;
}

#search-playlist-mobile {
  display: none;
}

#menu {
  margin-right: 3rem;
}

#search-button {
  margin-right: 2rem;
}

#start-playlist-button {
  margin-left: 1rem;
}


@media(max-width: 900px) {
  main {
    margin-top: 0;
  }

  #search-playlist {
    display: none;
  }

  #search-playlist-mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  #search-playlist-mobile button {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .modal {
    position: fixed;
    z-index: 1;
    background-color: grey;
    margin: 1.5rem auto 1.5rem auto;
    width: 95%;
    height: 90%;
    opacity: 95%;
    left: 0;
    right: 0;
    overflow: auto;
  }

  .modal button {
    margin: .5rem;
  }

  #search-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #search-results-modal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #search-results-modal button{
    margin: .2rem;
    text-align: center;
  }

  input {
    margin: 0;
  }

  #playlist-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
