  <div class="login-dialog" id="resident">
    <form [formGroup]="residentGroup">
      <p *ngIf="required" class="error">All fields on this page are required.</p>
      <p *ngIf="errMessage != ''" class="error">{{errMessage}}</p>
      <label>
        Name<br>
        <input type="text" id="resident-name" formControlName="name">
      </label><br>
      <label>
        Email<br>
        <input type="text" id="resident-email" formControlName="email">
      </label><br>
      <button type="submit" (click)="onSubmit()">Login</button>
    </form>
    <p>or</p>
    <button routerLink="/login-guest">Login as Guest</button>

    <p>Is this your first time logging in? Please <a routerLink="/register">register</a>.</p>
  </div>
