<div class="main">
  <div class="menu-icon" id="dashboard" routerLink="/dashboard">
    <img src="assets/dashboard.png" alt="Computer monitor with black rectangles.">
    <p>Dashboard</p>
  </div>

  <div class="menu-icon" id="spotify-player" routerLink="/spotify">
    <img src="assets/spotify.png" alt="Neon green circle with three curved white lines">
    <p>Spotify Player</p>
  </div>

  <div class="menu-icon" id="dnd-tools" routerLink="">
    <img src="">
    <p>D&D</p>
  </div>

  <div class="menu-icon" id="shopping-list" routerLink="">
    <img src="">
    <p>Shopping List</p>
  </div>

  <div class="menu-icon" id="documents" routerLink="">
    <img src="">
    <p>Documents</p>
  </div>
</div>
