<div class="main">
  <div class="menu-icon" id="dashboard" routerLink="/dashboard">
    <img src="">
    <p>Dashboard</p>
  </div>

  <div class="menu-icon" id="spotify-player" routerLink="">
    <img src="">
    <p>Spotify Player</p>
  </div>

  <div class="menu-icon" id="dnd-tools" routerLink="">
    <img src="">
    <p>D&D</p>
  </div>

  <div class="menu-icon" id="shopping-list" routerLink="">
    <img src="">
    <p>Shopping List</p>
  </div>

  <div class="menu-icon" id="Documents" routerLink="">
    <img src="">
    <p>Documents</p>
  </div>
</div>
